<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>Workcraft</string>
    <key>CFBundleIdentifier</key>
    <string>org.workcraft.www</string>
    <key>CFBundleName</key>
    <string>Workcraft</string>
    <key>CFBundleIconFile</key>
    <string>workcraft.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>7.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
  </dict>
</plist>
